<h1>Search</h1>


  <div class="man">
    <h3>Search your own...</h3>

    <p><%= @search  %></p>


    <form method='POST' action='/search'>
      <input type='text' name='term' required />
      <input type='submit' /> <!--make button -->
    </form>


  </div>



